body {
    background-image: linear-gradient(-45deg, #DB7F57, #F26D55, #E85251);
    background-attachment: fixed;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    text-align: center;
}
main {
    background-color: rgba(255, 255, 255, 0.397);
    box-shadow: 3px 3px 10px 0px #e8515175;
    width: 400px;
    height: 100%;
    padding: 10px;
    margin: auto;
    border-radius: 20px;
}

img {
    height: auto; 
    width: auto; 
}

input[type=text] {
    border-radius: 4px;
    border: none;
    padding: 10px 20px;
    text-decoration: none;
    margin: 4px 2px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
hr {
    color: white;
}
input[type=button]{
    background-color: white;
    color: black;
    border-radius: 4px;
    border: none;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  }
  .SocialMedia{
    text-align: center;
}
.SocialMedia_item{
    display: inline-block;
    margin: 0 6px;
}
.SocialMedia_item img{
    width: 100%;
    max-width: 22px;
}